{% extends "base.html" %}
{% load i18n %}
{% load account socialaccount %}
{% block head_title %}
{% trans "Sign In" %}
{% endblock %}

{% block content %}
<!-- login.html content starts here -->
<div class="container">
    <div class="row">
        <div class="col-md-8 mt-3 offset-md-2">

            <!-- Page title -->
            <h3>{% trans "Login" %}</h3>

            <!-- Introductory message, with link to sign up -->
            {% comment %}
            Introductory message:
            - Uses Django's blocktrans for translation support.
            - Provides a brief message about logging in and account creation.
            - Includes a link to the signup page dynamically.
            {% endcomment %}
            <p>{% blocktrans %}
                Welcome back to De Nada!<br>
                Please log into your account to create or amend a reservation<hr>
                If you don't have an account yet, please <a class="auth-link link" href="{{ signup_url }}">sign up</a> first.<br>
                We look forward to seeing you!
                {% endblocktrans %}
            </p>
        </div>
    </div>

    <!-- Login form -->
    <div class="row">
        {% comment %}
        Login Form:
        - Uses POST method for security.
        - CSRF token for protection against cross-site request forgery attacks. 
        - Dynamically renders the login form using {{ form.as_p }}.
        - If there's a redirect field (e.g., for redirecting after login), it is included as a hidden input.
        {% endcomment %}
        <div id="login_form" class="col-md-8 mt-3 offset-md-2">
            <form class="login" method="POST" action="{% url 'account_login' %}">
                {% csrf_token %}
                {{ form.as_p }}
                {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
                <!-- Submit button -->
                <button class="btn btn-signup right" type="submit">{% trans "Sign In" %}</button>
            </form>
        </div>
    </div>
</div>
<!-- login.html content ends here -->
{% endblock %}
