{% extends "base.html" %}
{% load i18n %}
{% block head_title %}
{% trans "Sign Out" %}
{% endblock %}

{% block content %}
<!-- logut.html content starts here -->

<!-- Page title -->
<h3>{% trans "Sign Out" %}</h3>

<!-- Log out form -->
<div id="logout_form" class="container">
    <div class="row">
        <div class="col-md-8 mt-3 offset-md-2">

            <!-- Confirmation message -->
            {% comment %}
            Displays a confirmation message before signing out.
            - Uses Django's {% trans %} for internationalization support.
            {% endcomment %}
            <p>{% trans 'Are you sure you want to sign out?' %}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 mt-3 offset-md-2">

            {% comment %}
            Logout Form:
            - Uses the POST method for security.
            - CSRF token for protection against CSRF attacks.
            - If there's a redirect field (e.g., for post-logout redirection), it is included as a hidden input.
            {% endcomment %}
            <form method="post" action="{% url 'account_logout' %}">
                {% csrf_token %}
                {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
                <!-- Submit button -->
                <button class="btn btn-signup right" type="submit">{% trans 'Sign Out' %}</button>
            </form>
        </div>
    </div>
</div>
<!-- logout.html content ends here -->
{% endblock %}