/* Google Fonts import */
@import url('https://fonts.googleapis.com/css2?family=Vidaloka&display=swap');

/* Asterisk wildcard selector to override default styles added by browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project style */
    background-color: #fcf4d9;
    color: #d55b3e;
    font-family: 'Vidaloka', serif;
    font-size: larger;
    font-weight: 300;
    text-align: center;
}

/* Links in body */
body a,
a>i {
    text-decoration: none;
    color: #00aaa0 !important;
}

.divider {
    background-color: #00aaa0 !important;
    width: 65% !important;
    margin-left: 50px !important;
}

/* Header */
header {
    background-color: #fcf4d9;
    position: fixed;
    z-index: 99;
    width: 100vw;
    height: 70px;
}

/* Logo */
#logo {
    text-transform: uppercase;
    font-size: 200%;
    font-weight: 700;
    margin-bottom: 0;
}

.vert-line {
    height: 50px;
    margin-top: 10px;
    width: 1px;
    background-color: #00aaa0;
}

/* Alert messages */
.alert {
    margin-bottom: 0;
}

#alert-row {
    margin-bottom: 0 !important;
}

/* Navbar */
.sidenav-trigger i {
    font-size: 200% !important;
    line-height: 70px !important;
}

.sidenav-overlay {
    opacity: 0 !important;
    z-index: 1 !important;
}

nav {
    height: 70px !important;
    line-height: 70px !important;
    background-color: transparent !important;
}

/* slide out menu */
#slide-out {
    margin-top: 70px;
    background-color: #fcf4d9;
}

/* Hidden headers */
.hidden-text {
    display: none;
}

/* Authentication pages */
#signup_form,
#login_form {
    border: #00aaa0 solid 3px;
    border-radius: 10px;
    background-color: #F9F6EE;
    padding: 15px;
    margin-top: -30px;
}

#signup_form li {
    list-style-type: circle !important;
    font-size: xx-small;
    align-self: flex-start !important;
    color: #00aaa0;
}

#signup_form {
    padding-bottom: 50px;
}

/* Remember me label */
.login p:last-of-type {
    font-size: x-small;
    display: flex;
    align-self: flex-start;
    margin-bottom: 0;
}

/* Remember me checbox */
#id_remember {
    border: #d55b3e 3px solid !important;
    height: 18px;
    width: 18px;
    background-color: #F9F6EE;
    margin-left: 120px;
    opacity: 1;
    pointer-events: auto;
}

#logout_form {
    border: #00aaa0 solid 3px;
    border-radius: 10px;
    background-color: #F9F6EE;
    padding: 15px;
    max-width: 500px;
}

#logout_form div {
    margin-bottom: 0;
}

/* Hero image */
#hero {
    background-color: #d55b3e;
    background: url('../images/hero.jpg') no-repeat center center/cover;
    position: relative;
    width: 100%;
    min-height: 200px;
}

.m-3 {
    margin: 0 1rem 0 0 !important;
}

/* Main Content */
main {
    color: #d55b3e;
    background-color: #fcf4d9;
    flex: 1 0 auto;
    /* Make main element take up any surplus space to push the footer down */
    margin-top: 70px !important;
    /* Push the start of element down so it isn't hidden by header */
}

/* Footer */
footer {
    background-color: #00aaa0;
    color: #fcf4d9;
    font-size: small;
    font-weight: 500;
}

/* Opening times */
#opening-times {
    text-align: left;
}

#opening-times h5 {
    margin-bottom: 2px;
    text-decoration: none;
}

#opening-times ul {
    padding-left: 5px;
    margin-bottom: 0;
}

#opening-times li {
    list-style-type: none;
}

/* Copyright section */
#copyright {
    text-align: right;
}

#copyright p {
    font-size: medium;
}

/* Social newtork icons */
#social-links ul {
    display: flex;
    flex-wrap: wrap;
    align-self: center;
    padding: 2px;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-links i {
    font-size: 150%;
    padding: 2px;
    color: #fcf4d9 !important;
    margin-bottom: 0;
}

/* Home Page */
h1 {
    margin: 0;
}

.home-images {
    display: flex;
    flex-wrap: wrap;
    /* Allow images to wrap to the next line if needed */
    justify-content: space-between;
    /* Space images evenly within the container */
}

.home-images img {
    padding: 2px;
}

.card-img-top {
    height: auto;
    margin-bottom: 10px;
    /* Add some spacing between images */
    object-fit: cover;
}

/* Menu Page */
.menu-image {
    height: auto;
    width: 100%;
}

.menu-image .card-img-top {
    max-height: 300px;
    background-position: 20%;
}

/* link to book page */
#book-link {
    font-family: 'Vidaloka', serif;
    font-size: larger;
    color: #fcf4d9;
    background-color: #d55b3e;
    border: #00aaa0 solid 2px;
    border-radius: 50px;
    height: 60px;
    width: 200px;
    margin-top: 10px;
    margin-bottom: 25px;
}

#food-title,
#drink-title {
    color: #d55b3e !important;
    padding: 5px 25px;
    margin-bottom: 5%;
    border: solid 4px #00aaa0;
    border-radius: 10px;
    background-color: #F9F6EE;
}

#food-title {
    float: left;
    margin-left: 20%;
}

#drink-title {
    float: right;
    margin-right: 20%;
}

/* Menu pages */
.type-heading {
    text-decoration: underline;
    font-size: x-large;
    font-weight: 800;
    padding-bottom: 10px;
}

#food-menu,
#drink-menu {
    background-color: #fcf4d9;
    color: #d55b3e;
}

.food-item-list,
.drink-item-list {
    font-size: smaller;
}

.food-menu-image,
.drink-menu-image {
    max-height: 200px;
    max-width: 200px;
    border-radius: 50%;
    margin: 0 auto;
    padding: 10px 0 30px;
    object-fit: cover;
}

h2 {
    text-align: center;
    text-decoration: underline 4px;
    margin: 1rem;
}

ul {
    padding: 0 !important;
}

li {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

.title-calories {
    float: left;
}

.calories {
    font-size: x-small;
}

.cost {
    float: right;
}

/* Booking page */
#login-booking-box {
    background-color: #F9F6EE;
    border: #00aaa0 solid 3px;
    border-radius: 10px;
    padding-bottom: 20px;
}

#book-box {
    box-shadow: none;
    border: none;
}

/* Form */
.card-body {
    background-color: #fcf4d9 !important;
    border: none;
    padding: 0;
}

#bookingForm,
#editForm {
    border: #00aaa0 solid 3px;
    border-radius: 10px;
    background-color: #F9F6EE;
    padding: 15px;
    margin: 20px 0;
}

label {
    color: #d55b3e !important;
    font-size: larger;
    display: flex;
    align-self: flex-start;
    margin-bottom: 0;
}

.invalid-feedback {
    display: none !important;
}

/* Current bookings section */
#current-bookings-section ul {
    display: inline-block;
}

#booking-details {
    text-align: center;
    border: #00aaa0 3px solid;
    border-radius: 10px;
    background-color: #F9F6EE;
    padding: 5px;
}

/* Authentication buttons */
.btn-signup {
    border-radius: 10px;
}

/* Edit button */
#editButton {
    color: #fff !important;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    border-radius: 10px;
    margin: 5px 5px 20px;
}

/* Delete button */
.btn-delete {
    background-color: #d55b3e !important;
    border-radius: 10px;
    margin: 5px 5px 20px;
}

/* Delete Modal */
.modal {
    background-color: rgba(0, 0, 0, 0.1); /* Adjust opacity as needed */
}

.modal-dialog {
    max-width: 80%;
}

.modal-content {
    background-color: #fcf4d9;
    border: #00aaa0 3px solid;
    border-radius: 10px;
}

.modal-footer {
    background-color: #fcf4d9 !important;
}

.btn-secondary {
    border-radius: 10px;
    margin-right: 5px !important;
}

#deleteConfirm {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    color: #fff !important;
    background-color: #d55b3e !important;
    border-radius: 10px;
    margin-left: 5px !important;
}

/* Contact Page */
h5 {
    font-weight: 900;
    text-decoration: underline;
}

#address-section p {
    margin-bottom: 5px;
}

/* Map */
#map {
    width: 100vw;
    height: 250px;
    border: 3px solid #00aaa0;
    border-radius: 10px;
    padding: 0;
}

/* Social links*/
#add-links {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
}

#add-links i {
    color: #d55b3e !important;
    padding-right: 20px;
}

/* 404 error page */
#lost-box {
    border: #00aaa0 solid 3px;
    border-radius: 10px;
    background-color: #F9F6EE;
    padding: 15px;
    max-width: 600px;
    margin: 0 auto;
}

#lost-box i {
    margin: 50px auto 70px;
    scale: 5;
}

/* Media query: tablets & larger (344px and above) */
@media screen and (min-width: 344px) {
    
    /* Larger logo */
    #logo {
        font-size: 300%;
    }

}

/* Media query: tablets & larger (390px and above) */
@media screen and (min-width: 390px) {

    /* Menu item list larger font */
    .food-item-list,
    .drink-item-list {
        font-size: medium;
    }

    .food-menu-image,
    .drink-menu-image {
        max-height: 350px;
        max-width: 350px;
    }

}

/* Media query: tablets & larger (500px and above) */
@media screen and (min-width: 500px) {
    
    /* Hero image */
    #hero {
        background-position: 0 70%;
        min-height: 400px;
    }
}


/* Media query: tablets & larger (768px and above) */
@media screen and (min-width: 768px) {

    /* Home images */
    .home-images .card-img-top {
        max-width: 33%;
    }

    /* Food menu page */
    #food-container,
    #drink-container {
        width: 90%;
        padding: 0 5%;
    }

    .food-item-list,
    .drink-item-list {
        float: left;
        width: 50%;
        margin-right: 5%;
    }

    .food-menu-image,
    .drink-menu-image {
        width: 300px;
        height: 300px;
        float: right;
    }

    fieldset {
        border: 3px solid #00aaa0;
        border-radius: 10px;
        background-color: #F9F6EE;
        margin: 10px auto;
        width: 700px;
    }

    /* Booking page */
    #login-booking-box,
    #bookingForm,
    #editForm {
        width: 60%;
        margin: 20px auto;
        max-width: 700px;
    }

    /* Contact Page */
    #map {
        max-width: 50vw;
        margin: 0 auto;
    }

    #contact-flex {
        display: flex;
        justify-content: space-between;
        flex-wrap: nowrap;
        flex-direction: row;
        width: 90%;
        margin: 0 auto;
    }

    #contact-section {
        order: 1;
    }

    #opening-times-section {
        order: 2;
    }

    #social-section {
        order: 3;
    }
}

/* Media query: tablets & larger (1280px and above) */
@media screen and (min-width: 1280px) {
    /* Menus */
    fieldset {
        width: 1000px;
    }

}