{% extends 'base.html' %}

{% block content %}
<!-- drink.html content starts here -->

<div id="drink-menu" class="col-12">
    <fieldset id="drink-box">
        <h2>Drinks</h2>
        <div id="drink-container" class="container">
            <div class="row">
                <ul>
                    {% regroup drink_list by type as grouped_drink %}
                    {% for group in grouped_drink %}
                    <li class="type-heading">{{ group.grouper }}</li>
                    {% for item in group.list|dictsort:"price" %}
                    <li class="drink-item-list">
                        <span class="title-calories">{{ item.name }}<span class="calories">
                                ({{ item.calories }})</span></span>
                        <span class="cost">£{{ item.price }}</span>
                    </li>
                    {% endfor %}
                    {% if group.grouper.type_image %}
                    <li><img class="drink-menu-image" src="{{ group.grouper.type_image.url }}"
                            alt="{{ group.grouper }}"></li>
                    {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
    </fieldset>
</div>

<!-- drink.html content ends here -->
{% endblock %}