{% extends 'base.html' %}

{% block content %}
<!-- menu.html content starts here -->
{% load static %}

<div class="container">
    <div class="row">
        <div id="menu-section" class="col-12">
            <h3>{{ menu.title }}</h3>
            <p class="menu-description">{{ menu.about | safe }}</p>
            <div class="menu-image">
                {% if "placeholder" in menu.menu_image.url %}
                <img class="card-img-top" src="{% static 'images/menu_image.jpg' %}" alt="placeholder image">
                {% else %}
                <img class="card-img-top" src=" {{ menu.menu_image.url }}" alt="{{ menu.title }}">
                {% endif %}
            </sdiv>
        </div>
    </div>
</div>

<h3><a id="food-title" href="{% url 'food' %}">Food</a></h3>
<h3><a id="drink-title" href="{% url 'drink' %}">Drink</a></h3>

<!-- menu.html content ends here -->
{% endblock %}