{% extends 'base.html' %} {% block content %}
<!-- menu.html content starts here -->
{% load static %}

<div class="container">
  <div class="row">
    <div id="menu-section" class="col-12">
      <h3>{{ menu.title }}</h3>
      <p id="menu-description">{{ menu.about | safe }}</p>

      <h3><a id="food-title" href="{% url 'food' %}">Food</a></h3>
      <h3><a id="drink-title" href="{% url 'drink' %}">Drink</a></h3>

      <div class="menu-image">
        {% if "placeholder" in menu.menu_image.url %}
        <img
          class="card-img-top"
          src="{% static 'images/menu_image.jpg' %}"
          alt="placeholder image"
        />
        {% else %}
        <img
          class="card-img-top"
          src=" {{ menu.menu_image.url }}"
          alt="{{ menu.title }}"
        />
        {% endif %}
      </div>
      <p class="note">{{ menu.note | safe }}</p>

      <a href="{% url 'book' %}">
        <button id="book-link">Book a table here!</button>
      </a>
      
    </div>
  </div>
</div>

<!-- menu.html content ends here -->
{% endblock %}
