{% url 'home' as home_url %}
{% url 'menu' as menu_url %}
{% url 'book' as book_url %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Meta tags for search engines -->
    <meta name="description" content="">
    <meta name="keywords" content="">
    <!-- Title -->
    <title>De Nada</title>
    <!-- Favicon -->

    <!-- Stylesheet -->
    <link rel="Stylesheet" href="">
</head>

<body>
    <header>
        <!-- Logo -->
        <a href="{% url 'home' %}">
            <h1 id="Logo">De Nada</h1>
        </a>
        <!-- Navbar -->
        <nav>
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'menu' %}">Menu</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'book' %}">Book</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact</a>
                </li>
                <!-- <li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
            </li> -->
            </ul>
        </nav>
    </header>

    <!-- Main Content -->
    <main>
        <!-- Hero image -->
        <section id="hero" aria-label="">

        </section>

        {% block content %}
        <!-- Content goes here -->
        {% endblock %}

    </main>

    <!-- Footer -->
    <footer>
        <section id="opening-times">
            <h2>Opening times:</h2>
            <ul>
                <li>Sun - Thu: 08:00 - 22:00</li>
                <li>Fri & Sat: 08:00 - 00:00</li>
            </ul>
        </section>
        <section id="copyright">
            <h2 class="hidden-text">Copyright</h2>
            <p>© Copyright 2024 <br>
                BekMart</p>
        </section>
        <section id="social-links">
            <ul>
                <li><a href="https://www.facebook.com/" target="_blank"
                        aria-label="Visit our Facebook page (opens in new tab)" rel="noopener">
                        <i class="fa-brands fa-facebook"></i></a>
                </li>
                <li><a href="https://www.instagram.com/" target="_blank"
                        aria-label="Visit our Instagram page (opens in new tab)" rel="noopener">
                        <i class="fa-brands fa-square-instagram"></i></a>
                </li>
                <li><a href="https://twitter.com/" target="_blank"
                        aria-label="Visit our Twitter page (opens in new tab)" rel="noopener">
                        <i class="fa-brands fa-square-x-twitter"></i></a>
                </li>
            </ul>
        </section>
    </footer>
    <!-- Font Awesome icon link -->
    <script src="https://kit.fontawesome.com/7e995090f4.js" crossorigin="anonymous"></script>
</body>

</html>