{% extends 'base.html' %}

{% block content %}
<!-- contact.html content starts here -->
{% load static %}

<div id="contact-page">
    <div class="row">
        <div class="container">
            <div class="row">
                <div id="address-section">
                    <h3>{{ address.title }}</h3>
                    <p>
                        <h5>Location:</h5> {{ address.restaurant.address | safe }}
                    </p>
                </div>
                <iframe id="map"
                    src="https://maps.googleapis.com/maps/embed/v1/place?key=AIzaSyD58rZJ7jykBhKYsTg4IuTLybiz_XmyaX4&q=123_Mutley_Plain_Mutley_Plymouth"
                    allowfullscreen>
                </iframe>
            </div>
            <div id="contact-flex">
                <div id="opening-times-section">
                    <h4>{{ time.title }}</h4>
                    <p class="times-display">{{ time.time_list | safe }}</p>
                </div>
                <div id="contact-section">
                    <h4>{{ contact.title }}</h4>
                    <p>
                        <h5>Telephone:</h5> {{ contact.restaurant.phone }}
                    </p>
                    <p>
                        <h5>Email:</h5> {{ contact.restaurant.email }}
                    </p>
                </div>
                <div id="social-section">
                    <h4>{{ social.title }}</h4>
                    <div id="add-links">
                        <ul>
                            <li><a href="https://www.facebook.com/" target="_blank"
                                    aria-label="Visit our Facebook page (opens in new tab)" rel="noopener">
                                    <i class="fa-brands fa-facebook"></i>{{ social.facebook | safe }}</a>
                            </li>
                            <li><a href="https://www.instagram.com/" target="_blank"
                                    aria-label="Visit our Instagram page (opens in new tab)" rel="noopener">
                                    <i class="fa-brands fa-square-instagram"></i>{{ social.instagram | safe }}</a>
                            </li>
                            <li><a href="https://twitter.com/" target="_blank"
                                    aria-label="Visit our Twitter page (opens in new tab)" rel="noopener">
                                    <i class="fa-brands fa-square-x-twitter"></i>{{ social.twitter | safe }}</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- contact.html content ends here -->
{% endblock %}