{% extends 'base.html' %}

{% block content %}
<!-- contact.html content starts here -->
{% load static %}

<div id="contact-page">
    <div class="row">
        <div class="container">
            <div class="row">
                <div id="opening-times-section">
                    <h3>{{ time.title }}</h3>
                    <p class="times-display">{{ time.time_list | safe }}</p>
                </div>
            </div>
            <div class="row">
                <div id="address-section">
                    <h3>{{ address.title }}</h3>
                    <p>Address: {{ address.restaurant.address }}</p>
                </div>
                <iframe id="map"
                    src="https://maps.googleapis.com/maps/embed/v1/place?key=AIzaSyD58rZJ7jykBhKYsTg4IuTLybiz_XmyaX4&q=123_Mutley_Plain_Mutley_Plymouth"
                    allowfullscreen>
                </iframe>
            </div>
            <div class="row">
                <div id="contact-section">
                    <h3>{{ contact.title }}</h3>
                    <p>Telephone: {{ contact.restaurant.phone }}</p>
                    <p>Email: {{ contact.restaurant.email }}</p>
                </div>
            </div>
            <div class="row">
                <div id="social-section">
                    <h3>{{ social.title }}</h3>
                    <p>{{ social.facebook | safe }}</p>
                    <p>{{ social.instagram | safe }}</p>
                    <p>{{ social.twitter | safe }}</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- contact.html content ends here -->
{% endblock %}