{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<!-- book.html content starts here -->

<div class="container-fluid">
    <!-- Create booking here -->
    <div>
        <div id="book-box" class="'col-md-4 card mb-4 mt-3">
            <div class="card-body">
                {% if user.is_authenticated %}
                <h3>Hey {{ user.username }},<br> fill in the form below to book a table!</h3>
                <form id="bookingForm" method="post" style="margin-top: 1.3em;">
                    {{ booking_form | crispy }}
                    {% csrf_token %}
                    <button id="submitButton" type="submit" class="btn btn-signup btn-jg">Submit</button>
                </form>
                {% else %}
                <div id="login-booking-box">
                    <h3>Please<br><a href="{% url 'account_login' %}">log in</a>/<a
                            href="{% url 'account_signup' %}">create an account</a><br>to book a table!</h3>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

<!-- book.html content ends here -->
{% endblock %}